numpy
pandas
matplotlib
scipy
jupyter
scikit-learn
redis
streamlit
insightface
easyocr
streamlit
opencv-python-headless==4.5.5.64
Pillow
mmdet
mmocr
paddleocr
paddlepaddle
mycolorpy
plotly
plotly-express
mmcv-full --no-binary mmcv-full
onnxruntime==1.15.0
